NGROK_DOMAIN=_ngrok_account_dommain_
NGROK_AUTHTOKEN=_ngrok_account_token_
NGROK_IMAGE=ngrok/ngrok:latest

TARGET_PROTO=http
TARGET_HOST=127.0.0.1
TARGET_PORT=5000

REDIS_HOST=localhost
REDIS_PORT=6379

API_URL=http://localhost:5000/events

WHATSAPP_PUBLIC_BASE_URL=https://_ngrok_account_dommain_

WHATSAPP_WABA_ID=_whatsapp_business_account_id_
WHATSAPP_VERIFY_TOKEN=_whatsapp_verify_token_
WHATSAPP_PHONE_NUMBER_ID=_whatsapp_phone_number_id_
WHATSAPP_GRAPH_API_VERSION=_whatsapp_graph_api_version_
WHATSAPP_APP_SECRET=_whatsapp_app_secret_
WHATSAPP_ACCESS_TOKEN=_whatsapp_access_token_